[Desktop Entry]
Name=Greenlight
Exec=greenlight --no-sandbox --fullscreen %U
Terminal=false
Type=Application
Icon=input-gaming
StartupWMClass=Greenlight
X-AppImage-Version=2.4.2
Comment=Greenlight is a streaming application for Xbox and xCloud
Categories=Game;
